<%- include('../partials/header.ejs') %>
   
<div class="video-main-box">
	<div class="video-container-lesson">
	  <iframe id="video-iframe" width="100%" height="100%" src="https://www.youtube.com/embed/ub9Zk-akQbQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
  </div>
  </div>
  <style>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  pointer-events: none;
}

  .video-container-svg::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
    }
  </style>
  <div class="overlay"></div>


<% content.forEach(function(video) { %>
    <div class="lecture" data-video-link="<%= video.video_link %>">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName"><%= video.title %></p> 
	</div>
	<% }) %>
</section>
<div id="floatingMenu">
	<ul><li><a href=""><i class="fa-regular fa-circle-play"></i>First Option jodi</a></li><li><a href=""><i class="fa-regular fa-circle-play"></i>Second Option</a></li>
	<li><a href=""><i class="fa-regular fa-circle-play"></i>Third Option</a></li></ul>
</div>

    <div id="menuicon">
        <i class="fa-solid fa-bars-staggered"></i>
    </div>




 <!-- bottom nagivatoin section  -->
 <%- include('../partials/bottom-nav.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
	$("#menuicon").click(function(){
	  $("#floatingMenu").fadeToggle(100);
	  
	});
   
  });
  
 
 
 
 
 
  $(document).ready(function() {
  // add a click event listener to all lecture elements
  $('.lecture').on('click', function() {
    // get the video link from the clicked lecture's data attribute
    var videoLink = $(this).data('video-link');
    
    // set the video link to the src attribute of the iframe
    $('#video-iframe').attr('src', videoLink);
  });
});





 </script>
 



<script src="/js/script.js"></script>
