<%- include('../partials/header.ejs') %>
<style>
	.con {
  position: relative;
  bottom: -10px;
  height: auto;
  border: none;
 background-color: f4f4f461;
  
}
.accordion-content {
max-height: 100%;
position:relative;
 top:-5px;
transition: max-height 0.3s ease-in-out;
background-color: #f4f4f461;
display: flex;
flex-direction: column;

 border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


}
.accordion-content a{
  
  width: 100%;
  font-size: 14px;
  color: #737373;
  border:none!important;
  padding: 15px 20px!important;
  width:98%;
  margin: 0px auto 0px!important;
}
.accordion-content a:hover{
  background:#ededed;
  cursor: pointer;
}

.accordion-content a:last-child{
margin-bottom:10px;
}
.accordion-content a:first-child{
margin-top:10px;
}


.accordion img{
  width: 22px;
  margin-right: 10px;
}

</style>
<div class="video-main-box" style=" z-index:12;">
	<div class="video-container-lesson">
	  <iframe id="video-iframe" width="100%" height="100%"  src="https://www.youtube.com/embed/ub9Zk-akQbQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;" allowfullscreen></iframe>
	</div>
  </div>
  

  <section class="con">
	<h1>hello</h1>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=iq"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;&nbsp;Video: কিভাবে প্রথম দিন সবার সাথে পরিচিত হবেন</a>
		   <a href="/issb/iqlist"><i class="fa-regular fa-file-lines"></i>&nbsp;&nbsp;&nbsp;</i>কিভাবে এটার সাথে মিলে মিশে থাকবেন</a>
           <a href="/issb/iqlist"><i class="fa-solid fa-file-lines"></i></i>&nbsp;&nbsp;&nbsp;উপায় সমূহ যদি আপনি ব্যর্থ হন</a>
		   <a href="/issb/lessonvideo?type=iq"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;&nbsp;Video: কিভাবে প্রথম দিন সবার সাথে পরিচিত হবেন</a>
		   <a href="/issb/iqlist"><i class="fa-regular fa-file-lines"></i>&nbsp;&nbsp;&nbsp;</i>কিভাবে এটার সাথে মিলে মিশে থাকবেন</a>
           <a href="/issb/iqlist"><i class="fa-solid fa-file-lines"></i></i>&nbsp;&nbsp;&nbsp;উপায় সমূহ যদি আপনি ব্যর্থ হন</a>
		   <a href="/issb/lessonvideo?type=iq"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;&nbsp;Video: কিভাবে প্রথম দিন সবার সাথে পরিচিত হবেন</a>
		   <a href="/issb/iqlist"><i class="fa-regular fa-file-lines"></i>&nbsp;&nbsp;&nbsp;</i>কিভাবে এটার সাথে মিলে মিশে থাকবেন</a>
           <a href="/issb/iqlist"><i class="fa-solid fa-file-lines"></i></i>&nbsp;&nbsp;&nbsp;উপায় সমূহ যদি আপনি ব্যর্থ হন</a>
		   <a href="/issb/lessonvideo?type=iq"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;&nbsp;Video: কিভাবে প্রথম দিন সবার সাথে পরিচিত হবেন</a>
		   <a href="/issb/iqlist"><i class="fa-regular fa-file-lines"></i>&nbsp;&nbsp;&nbsp;</i>কিভাবে এটার সাথে মিলে মিশে থাকবেন</a>
           <a href="/issb/iqlist"><i class="fa-solid fa-file-lines"></i></i>&nbsp;&nbsp;&nbsp;উপায় সমূহ যদি আপনি ব্যর্থ হন</a>
		   <a href="/issb/lessonvideo?type=iq"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;&nbsp;Video: কিভাবে প্রথম দিন সবার সাথে পরিচিত হবেন</a>
		   <a href="/issb/iqlist"><i class="fa-regular fa-file-lines"></i>&nbsp;&nbsp;&nbsp;</i>কিভাবে এটার সাথে মিলে মিশে থাকবেন</a>
           <a href="/issb/iqlist"><i class="fa-solid fa-file-lines"></i></i>&nbsp;&nbsp;&nbsp;উপায় সমূহ যদি আপনি ব্যর্থ হন</a>
        </div>
</section>


<br><br><br><br>

 <!-- bottom nagivatoin section  -->

 <%- include('../partials/bottom-nav.ejs') %>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
const videoIframe = document.querySelector('#video-iframe');
const con = document.querySelector('.con');

function setMarginTop() {
  con.style.marginTop = videoIframe.offsetHeight + 'px';
}

setMarginTop(); // initial setting

window.addEventListener('resize', setMarginTop);


</script>



