<%- include('../partials/header.ejs') %>

<section class="top-nav">
    <div><h4>Terms and Conditions</h4></div>
 <img src="https://th.bing.com/th/id/R.23ca2f3fbf7e19a1e85cd9d556d5ffaf?rik=uoFjTlg8g%2bIkqw&pid=ImgRaw&r=0" id="top-nav-icon-issb">
</section><br><br><br>

<div>
<h1>ডেলিভারির সময়সীমা:</h1> 
আমরা সম্ভবত সময়সীমা সেট করি যাতে আমরা আপনার নিষ্ক্রিয় কোর্স সম্পাদনা করতে পারি এবং সঠিক ডেলিভারি সময়সীমা মেনে চলতে পারি। ডেলিভারির সময়সীমা সম্পর্কে যে কোন স্পেসিফিক শর্তাবলী বা সম্বদ্ধ নোটিশ সম্মান করা আবশ্যক হবে।

<h1>মূল্যফেরত:</h1> 
আমরা কোর্স মূল্য ফেরত প্রদান করি যদি আপনি সেবার সাথে সন্তুষ্ট না হন অথবা কোর্সে সমস্যা থাকে যা আমরা সমাধান করতে পারি না। মূল্যফেরত সম্পর্কে আরও বিস্তারিত জানতে সম্বন্ধিত নোটিস এবং শর্তাবলী মেনে চলতে হবে।

<h1>পণ্যফেরত:</h1>  
আমরা আপনার কোর্সের বিস্তারিত প্রয়োজন হলে সহোয়োগী সেবা প্রদানকারীদের মাধ্যমে কোর্স প্রেরণ করতে পারি। এই প্রয়োজনীয় তথ্য আমরা আপনার অনুমতির আওতায় এই তৃতীয় পক্ষদের জন্য প্রদান করার অধিকার প্রদান করে।

<h1>বিক্রয়োত্তর সেবা:</h1>  
আমরা আপনার কোর্স খরিদ করার পরে সেবা প্রদান করি যাতে আপনি এই সেবাটি সঠিকভাবে ব্যবহার করতে পারেন। আপনি প্রদান করা তথ্যের সত্যতা, সঠিকতা এবং পূর্ণতা দাবি ও অধিকার করেন যে: (i) আপনি যে কোন কার্ড (সি) বা অন্য যে কোন পেমেন্ট পদ্ধতি সহ যে কোন কার্ড বা অন্য যে কোন পেমেন্ট পদ্ধতি ব্যবহার করতে পারেন; এবং (ii) আপনি আমাদের কাছে দেওয়া তথ্যটি সত্য, সঠিক এবং সম্পূর্ণ বলে প্রতিপাদন করেন।

<h1>অনলাইন শিক্ষা প্ল্যাটফর্মের শর্তাবলী: আপনার মিশন একাডেমি এবং আমাদের সেবাটি ব্যবহারের জন্য আমাদের অনলাইন শিক্ষা প্ল্যাটফর্মের শর্তাবলী মেনে চলতে হবে, এই শর্তাবলী সম্পর্কে সম্পূর্ণ বিবরণ পেতে সাইটে দেওয়া তথ্য পরে অনুসরণ করতে হবে।

<h1>পোস্ট-সেবা সমর্থন:</h1>  
আমরা সেবা দেওয়ার পরে আপনার সাথে যোগাযোগ করতে পারি সেবা সমর্থন সরবরাহের জন্য। আপনি সেবা সমর্থন প্রদানকারীদের সাথে যোগাযোগ করতে সক্ষম থাকতে হবে এবং প্রয়োজনে সহায়ক তথ্য প্রদান করতে সাম্প্রদায়িক সাইটে পোস্ট করতে পারেন।

<h1>প্রাইভেসি: 
আমরা আপনার ব্যক্তিগত তথ্যের গোপনীয়তা সংরক্ষণ করি এবং এই সেবাটি ব্যবহার করার জন্য আমাদের গোপনীয়তা নীতি মেনে চলতে হবে। আপনি যে তথ্য দেন এবং সেবাটি ব্যবহার করার মাধ্যমে আমরা সংগ্রহ করি সে তথ্যের সঠিকতা এবং গোপনীয়তা নীতি মেনে চলার জন্য আপনি আমাদের সম্মতি দেন।

<h1>ব্যবহারের সীমা:</h1>  
আপনি এই সেবাটি একটি কোর্স প্ল্যাটফর্ম হিসেবে ব্যবহার করতে পারেন এবং এটির মধ্যে নির্দিষ্ট সীমানা আছে। আপনি সেবাটি অবৈধ ব্যবহার করতে পারবেন না, যেমন প্রতারণা, হ্যাকিং, ভোয়েট লেবেল করা বা অন্যভাবে স্থায়িত আইন উল্লঙ্ঘন করা বা ইন্টারনেট নীতি ভঙ্গ করা।

<h1>অধিকার সংরক্ষণ:</h1>  
আমরা এই সেবাটি এবং এর সাথে সংবদ্ধ যে কোন তথ্য, সামগ্রিক ডিজাইন, লোগো, লেআউট, এবং সংকল্প সমস্ত অধিকার সংরক্ষণ করি। আপনি এই সেবাটি ব্যবহার করার সাথে সাথে সেটির যে কোন অংশ বা আপনি দ্বারা সেবাটির উপর অবমুক্ত কোন অধিকার বা লাভের জন্য কোন অনুমতি প্রদান করা হয় না।

<h1>শর্তাবলী পরিবর্তন:</h1>  
আমরা সময় সময়ে এই শর্তাবলী পরিবর্তন করতে পারি এবং পরিবর্তিত শর্তাবলীগুলি আপনাকে সাইটে প্রদর্শন করতে সক্ষম হয়ে যেতে পারে। এই শর্তাবলীগুলির যে কোন পরিবর্তনের জন্য আপনার সাথে যোগাযোগ করার মাধ্যমে আপনি এই সেবাটি ব্যবহার করার পর এই পরিবর্তন গ্রহণ করতে সম্মতি দেন।
</div>



<!-- bottom nagivatoin section  -->


<%- include('../partials/bottom-nav.ejs') %>

</body>
