<%- include('../partials/header.ejs') %>

<section class="top-nav">
    <div><h4>Terms and Conditions</h4></div>
 <img src="https://th.bing.com/th/id/R.23ca2f3fbf7e19a1e85cd9d556d5ffaf?rik=uoFjTlg8g%2bIkqw&pid=ImgRaw&r=0" id="top-nav-icon-issb">
</section><br><br><br>

<div style="width:90%; margin: 0px auto">


<h3>ক্রয়:</h3>

আপনি যদি পরিষেবার মাধ্যমে উপলব্ধ কোনো পণ্য বা পরিষেবা ক্রয় করতে চান ("ক্রয়"), তবে আপনাকে আপনার ক্রেডিট বা ডেবিট কার্ড নম্বর, আপনার কার্ডের মেয়াদ শেষ হওয়ার তারিখ সহ আপনার ক্রয়ের সাথে প্রাসঙ্গিক কিছু তথ্য সরবরাহ করতে বলা হতে পারে , আপনার বিলিং ঠিকানা, এবং আপনার শিপিং তথ্য।

আপনি প্রতিনিধিত্ব করেন এবং ওয়ারেন্টি দেন যে: (i) আপনার কাছে যেকোনো ক্রয়ের ক্ষেত্রে যেকোনো কার্ড(গুলি) বা অন্য অর্থপ্রদানের পদ্ধতি(গুলি) ব্যবহার করার আইনি অধিকার আছে; এবং যে (ii) আপনি আমাদের কাছে যে তথ্য সরবরাহ করেন তা সত্য, সঠিক এবং সম্পূর্ণ।

আমরা অর্থপ্রদানের সুবিধার্থে এবং কেনাকাটা সম্পূর্ণ করার উদ্দেশ্যে তৃতীয় পক্ষের পরিষেবার ব্যবহার নিযুক্ত করতে পারি। আপনার তথ্য জমা দিয়ে, আপনি আমাদের গোপনীয়তা নীতি সাপেক্ষে এই তৃতীয় পক্ষকে তথ্য প্রদান করার অধিকার প্রদান করেন।

পণ্য বা পরিষেবার প্রাপ্যতা, পণ্য বা পরিষেবার বিবরণ বা মূল্যে ত্রুটি, আপনার অর্ডারে ত্রুটি বা অন্যান্য কারণ সহ কিন্তু সীমাবদ্ধ নয় এমন কারণগুলির জন্য আমরা যেকোনো সময় আপনার অর্ডার প্রত্যাখ্যান বা বাতিল করার অধিকার সংরক্ষণ করি।

প্রতারণা বা অননুমোদিত বা অবৈধ লেনদেন সন্দেহ হলে আমরা আপনার অর্ডার প্রত্যাখ্যান বা বাতিল করার অধিকার সংরক্ষণ করি। 




<h3>ডেলিভারির সময়সীমা:</h3> 
পেমেন্ট সম্পন্ন করার পরে সরাসরি আপনি আমাদের কোর্স ড্যাসবোর্ডে দেখতে পাবেন। এবং কোন পণ্য ক্রয়ের ক্ষেত্রে ১০-১৫ কর্মদিবস প্রয়োজন হতে পারে। 
<h3>মূল্যফেরত:</h3> 
আমরা কোর্স মূল্য ফেরত প্রদান করি যদি আপনি সেবার সাথে সন্তুষ্ট না হন অথবা কোর্সে সমস্যা থাকে যা আমরা সমাধান করতে পারি না। মূল্যফেরত সম্পর্কে আরও বিস্তারিত জানতে সম্বন্ধিত কোর্স এবং FAQ নোটিস এবং শর্তাবলী মেনে চলতে হবে যা সংশ্লিষ্ট কোর্স ক্রয়ের অসময় উল্লেখ থাকবে কোর্সের বিবরণে।

<h3>পণ্যফেরত:</h3>  
আমরা আপনার কোর্সের বিস্তারিত প্রয়োজন হলে সহোয়োগী সেবা প্রদানকারীদের মাধ্যমে কোর্স প্রেরণ করতে পারি। এই প্রয়োজনীয় তথ্য আমরা আপনার অনুমতির আওতায় এই তৃতীয় পক্ষদের জন্য প্রদান করার অধিকার প্রদান করে।

<h3>বিক্রয়োত্তর সেবা:</h3>  
আমরা আপনার কোর্স খরিদ করার পরে সেবা প্রদান করি যাতে আপনি এই সেবাটি সঠিকভাবে ব্যবহার করতে পারেন। আপনি প্রদান করা তথ্যের সত্যতা, সঠিকতা এবং পূর্ণতা দাবি ও অধিকার করেন যে: (i) আপনি যে কোন কার্ড (সি) বা অন্য যে কোন পেমেন্ট পদ্ধতি সহ যে কোন কার্ড বা অন্য যে কোন পেমেন্ট পদ্ধতি ব্যবহার করতে পারেন; এবং (ii) আপনি আমাদের কাছে দেওয়া তথ্যটি সত্য, সঠিক এবং সম্পূর্ণ বলে প্রতিপাদন করেন।

<h3>অনলাইন শিক্ষা প্ল্যাটফর্মের শর্তাবলী:</h3> আপনার মিশন একাডেমি এবং আমাদের সেবাটি ব্যবহারের জন্য আমাদের অনলাইন শিক্ষা প্ল্যাটফর্মের শর্তাবলী মেনে চলতে হবে, এই শর্তাবলী সম্পর্কে সম্পূর্ণ বিবরণ পেতে সাইটে দেওয়া তথ্য পরে অনুসরণ করতে হবে।

<h3>পোস্ট-সেবা সমর্থন:</h3>  
আমরা সেবা দেওয়ার পরে আপনার সাথে যোগাযোগ করতে পারি সেবা সমর্থন সরবরাহের জন্য। আপনি সেবা সমর্থন প্রদানকারীদের সাথে যোগাযোগ করতে সক্ষম থাকতে হবে এবং প্রয়োজনে সহায়ক তথ্য প্রদান করতে সাম্প্রদায়িক সাইটে পোস্ট করতে পারেন।

<h3>প্রাইভেসি: </h3> 
আমরা আপনার ব্যক্তিগত তথ্যের গোপনীয়তা সংরক্ষণ করি এবং এই সেবাটি ব্যবহার করার জন্য আমাদের গোপনীয়তা নীতি মেনে চলতে হবে। আপনি যে তথ্য দেন এবং সেবাটি ব্যবহার করার মাধ্যমে আমরা সংগ্রহ করি সে তথ্যের সঠিকতা এবং গোপনীয়তা নীতি মেনে চলার জন্য আপনি আমাদের সম্মতি দেন।

<h3>ব্যবহারের সীমা:</h3>  
আপনি এই সেবাটি একটি কোর্স প্ল্যাটফর্ম হিসেবে ব্যবহার করতে পারেন এবং এটির মধ্যে নির্দিষ্ট সীমানা আছে। আপনি সেবাটি অবৈধ ব্যবহার করতে পারবেন না, যেমন প্রতারণা, হ্যাকিং, ভোয়েট লেবেল করা বা অন্যভাবে স্থায়িত আইন উল্লঙ্ঘন করা বা ইন্টারনেট নীতি ভঙ্গ করা।

<h3>অধিকার সংরক্ষণ:</h3>  
আমরা এই সেবাটি এবং এর সাথে সংবদ্ধ যে কোন তথ্য, সামগ্রিক ডিজাইন, লোগো, লেআউট, এবং সংকল্প সমস্ত অধিকার সংরক্ষণ করি। আপনি এই সেবাটি ব্যবহার করার সাথে সাথে সেটির যে কোন অংশ বা আপনি দ্বারা সেবাটির উপর অবমুক্ত কোন অধিকার বা লাভের জন্য কোন অনুমতি প্রদান করা হয় না।

<h3>শর্তাবলী পরিবর্তন:</h3>  
আমরা সময় সময়ে এই শর্তাবলী পরিবর্তন করতে পারি এবং পরিবর্তিত শর্তাবলীগুলি আপনাকে সাইটে প্রদর্শন করতে সক্ষম হয়ে যেতে পারে। এই শর্তাবলীগুলির যে কোন পরিবর্তনের জন্য আপনার সাথে যোগাযোগ করার মাধ্যমে আপনি এই সেবাটি ব্যবহার করার পর এই পরিবর্তন গ্রহণ করতে সম্মতি দেন।

<br><br>
<br><br>

<!-- bottom nagivatoin section  -->


<%- include('../partials/bottom-nav.ejs') %>

</body>
